@import url("https://fonts.google.com/specimen/Outfit");
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  width: 21rem;
  border-radius: 10px;
  padding: 20px;
}

.card .card-img-top {
  border-radius: 10px;
}

.card .card-body {
  font-size: 15px;
  text-align: center;
  padding-top: 15px;
}

.card .card-text {
  padding: 15px;
  padding-bottom: 20px;
  color: gray;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.attribution a {
  color: #3e52a3;
}
